
@{
    ViewBag.Title = "Products";
}

    <div class="container">
        <div id="tableContiner">
            @{
                Html.RenderAction("ProductTable");

            }
        </div>

        <hr/>

        <div id="actionContiner">

        </div>

    </div>